[Unit]
Description=GoNetMon Host Network Use Exporter
Wants=network.target
After=network.target


[Service]
Type=notify
ExecStart=/usr/local/bin/gonetmon
WatchdogSec=30s
Restart=on-failure

[Install]
WantedBy=multi-user.target
